
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


h1 {
    color: black;
    display: flex;
    margin-left: 33%;
    background-color: blue;
}


.menu li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 150px;
    margin-right: 100px;
    margin-left: 100px;
}

.titulos{
    background-color: blue;
}
.menu li a{
    display: flex;
    color: black;
    background-color: blue;
}

.menu {
    display: flex;
    margin-top: 80px;
    list-style-type: none;
    font-size: 15px;
    background-color: blue;
}

header{
    display: flex;
    background-color: blue;
    justify-content: center;
}

h4 {
    color: red;
    font: bold;
    font-style: italic;
    margin-left: 36%;
    background-color: blue;
}

.abrir-menu{
    display: none;
}

.col--bgd-color {
    background-color: red;
}

.FONDO{
    background-image: url("../img/FONDOPTA.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.body{
    background-color: blue;
}

.PIE {
    background-color: blue;
    color: white;
    padding-block: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.CHECA{
    color: white;
    background-color: red;
    display: inline-flex;
    margin-left: 10%;

}

.USA{
    color: white;
    background-color: black;
    display: inline-flex;
    margin-left: 60%;
}

.presentacion{
    color: aliceblue;
    text-align: center;
    font-size: 22px;
}

.GRACIAS{
    color: aliceblue;
    text-align: center;
}
.formulario{
    color: aliceblue;
    font-size: 22px;
    
}

.formulario2{
    color: aliceblue;
    font-size: 22px;
}

.boton{
    font-size: 22px;
}


.ACADEMIA{
    display: flex;
    justify-content: space-around;
    height: 235px;
    
    
}
.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    
  }

.abrir-menu{
    opacity: 0;
}

.cerrar-menu{
    opacity: 0;
}

@media screen and (max-width:768px) { 
    .body{
        background-color: #1c1c1c;
    } 
    
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    
    }

    .abrir-menu{
        color: white;
    }
    .cerrar-menu{
        color: white;
    }

    .nav{
        display: none;
    } 

    .nav{
        opacity: 1;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(26, 18, 18, 0.5);

    }

    .menu{
        flex-direction: column;
        align-items: end;
        opacity: 1;
        visibility: visible;
         }

    
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

}

@media screen and (max-width: 576px) {
    h1{
        text-align: center;
        padding-inline: 2rem;
        margin-inline: 3%;
    }
    h4{
        text-align: center;
        margin-inline: 3%;
    }
 
    .menu{
        align-items: end;
        flex-direction: column;
        color: #1c1c1c;
    }
    
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    
    }

    .abrir-menu{
        color: #1c1c1c;
    }
    .cerrar-menu{
        color: #cecece;
    }

    .nav{
        display: none;
    } 

    .nav{
        opacity: 1;
        visibility:visible;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: grey;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

    }

    
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    
 }

